<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/analytics' if Rails.env.production? %>
    <title>John Hayes-Reed | Homepage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= render partial: 'layouts/navigation' unless params[:controller] == 'home' %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
